body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.content-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
  text-align: center;
}

h2 {
  color: #0047bb;
  margin-bottom: 1rem;
}

.friend-photo img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid #0047bb;
}

.gwanhwe-photo {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.eunseo-photo {
  width: 250px;
  height: auto;
  max-height: 350px;
  object-fit: contain;
  border-radius: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
}

button {
  padding: 0.8rem;
  background-color: #0047bb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%; /* Réduit la largeur pour que les boutons soient côte à côte */
  margin-bottom: 1rem;
}

button:hover {
  background-color: #0035a0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

#message-box {
  display: none; /* Caché par défaut */
  margin-top: 1rem;
}

textarea {
  width: 90%;
  height: 80px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#message-box button {
  padding: 0.8rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
